# Mật khẩu để mã hóa JWT 
SECRET_KEY=nhap_chuoi_bi_mat_cua_ban_vao_day

# API Key lấy từ nền tảng Groq
GROQ_API_KEY=nhap_groq_api_key_cua_ban_vao_day

# Mật khẩu khởi tạo tài khoản admin mặc định
ADMIN_DEFAULT_PASSWORD=vnj@2026